# STS / Eclipse Workspace Metadata
.metadata/

# Compiled class files
*.class
bin/
target/

# Eclipse & STS Metadata
.classpath
.project
.settings/

# Spring Boot build outputs
**/target/
**/.mvn/wrapper/maven-wrapper.jar

# IDE specific files
**/.classpath
**/.project
**/.settings/
.metadata/